body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

#featured-property > figure{
  text-align: center;
}

#featured-property > p {
  width: 800px;
  margin-left: 50;
  margin-right: 50;
  text-align: center
}